* text=auto eol=lf
*.py text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.csv text eol=lf
*.jsonl text eol=lf
*.json text eol=lf
*.cff text eol=lf
*.sh text eol=lf
Makefile text eol=lf
*.ipynb text eol=lf
*.png binary
*.jpg binary
*.safetensors binary
